/* Variables */

:root {
    --emerald: #059669;
    --white: #f9f9f9;
    --neutral: #edeae7;
    --heading: #252b42;
    --text: #858585;
}

/* Utility Classes */

.flex-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sr-only {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

/* Universal Styles */

body {
    font-family: "Quicksand", sans-serif;
}

/* Close Button */

.close svg {
    width: 1.5rem;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    position: fixed;
    max-width: 540px;
    width: calc(100% - 2rem);
    background-color: var(--neutral);
    border-radius: 30px;
}

.modal-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button {
    display: flex;
    font-size: 1.25rem;
    border: none;
    background: none;
    gap: .5rem;
    transition: all .3s;
    align-self: flex-end;
}

button svg path {
    stroke: var(--heading);
    transition: all .3s;
}
.close:hover, .close:hover path {
    color: var(--emerald);
    stroke: var(--emerald);
}

.modal-image {
    background-image: url(../img/letter.webp);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 30px 30px 0 0;
}

main {
    background-color: var(--emerald);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media(min-width: 640px) {
    
}